/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	font-family: "Josefin Sans", sans-serif;
    line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* MINE */


header {
    height: 100px;
    width: 100%;
    background: #F6A192;
    display: flex;
    position: fixed;
    font-family: "Carter One", cursive;
    padding-top: 10px;
    padding-left: 10px;
}
h1, .h1 {
    font-size: 50px;
    color: #5A1919;
}
h3, .h3 {
    font-family: "Carter One", cursive;
    font-size: 60px;
    padding-top: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    color: #F6D992;
}
h5 {
    font-size: 20px;
    color: rgba(90,25,25,.7);
}
h6 {
    font-size: 14px;
    color: rgba(90,25,25,.4);
}
#logo {
    height: 90px;
    border-radius: 30px;
    padding-right: 10px;
    padding-bottom: 10px;
}
.filler {
    height: 100px;
}

.main {
    background: #F6B092;
    color: rgba(90,25,25,.8);
}

#test {
    padding: 30px;
}
#qs {
    float: left;
    width: 63%;
    margin: 0 1.5%;
}
.questions {
    padding: 20px;
    font-weight: bold;
    font-size: 18px;
}
.answers {
    font-weight: normal;
    line-height: 1.5;
    padding: 5px;
}
.buttons {
    background: rgba(246,217,146,.5);
    border-radius: 5px;
    color: rgba(90,25,25);
    font-family: "Josefin Sans", sans-serif;
}
#infopic {
    float: right;
    width: 30%;
    margin: 0 1.5%;
    padding-bottom: 30px;
    position: sticky;
}
#teach {
    padding: 30px;
    float: none;
    width: 60%;
    border-radius: 60px;
}
#teachPart {
    text-align: center;
}

#reviewsPart {
    padding-top: 30px;
}
#reviews {
    display: flex;
    flex-flow: row;
    padding: 30px;
    border-radius: 10px;
}
figure {
    border: thin aliceblue solid;
    display: flex;
    flex-flow: column;
    padding: 5px;
    max-width: 25%;
    margin: auto;
    border-radius: 10px;
}
.studentimgs {
    max-width: 100%;
    border-radius: 10px 10px 0px 0px;
}
figcaption {
    background-color: rgba(240,248,255,.2);
    padding: 3px;
    text-align: center;
    border-radius: 0px 0px 10px 10px;
}

.links {
    padding-top: 30px;
    text-align: right;
}
.reviews {
    padding-top: 30px;
    text-align: center;
}
.linksDiv {
    display: flex;
    justify-content: center;
    flex-flow: row;
    width: 100%;
}
.linksDiv a {
    width: 20%;
}
.icons {
    width: 50%;
    padding:15%;
}
#tobey {
    border-radius: 10px;
    opacity: 0;
}